<!DOCTYPE html>
<html lang="en" ng-app="justify" ng-controller="JustifyController">
  <head>
    <meta charset="utf-8">
    <!-- basic info -->
    <title>Justify</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>

  <body class="container">
    <div class="page-header">
      <h1>Justify</h1>
    </div>

    <!-- user options form -->
    <form role="form">
      <div class="form-group">
        <label for="situation">Situation</label>
        <input type="text" class="form-control" id="situation" placeholder="do something useful" autofocus ng-model="situation">
      </div>
      <button type="submit" class="btn btn-primary" ng-click="generate()">Generate</button>
    </form>

    <br>

    <!-- excuse display -->
    <div class="jumbotron">
      <p>I would <strong ng-bind="situation || defaultSituation"></strong>, but <strong ng-bind="currentExcuse.text"></strong>.</p>
      <small ng-bind="currentExcuse.date | date : 'medium'"></small>
    </div>

    <!-- history display -->
    <div class="panel panel-default">
      <div class="panel-heading">History</div>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="excuse in excuseHistory">
          <p>I would <strong ng-bind="situation || defaultSituation"></strong>, but <strong ng-bind="excuse.text"></strong>.</p>
          <small ng-bind="excuse.date | date : 'medium'"></small>
        </li>
      </ul>
    </div>

    <!-- scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.2/angular.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore.js"></script>
    <script src="app.js"></script>
  </body>
</html>
