<!DOCTYPE html>
<html lang="en" ng-app="justify" ng-controller="JustifyController">
  <head>
    <meta charset="utf-8">
    <!-- basic info -->
    <title>Justify</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
  </head>

  <body>
    <material-toolbar class="material-theme-light">
      <h1 class="material-toolbar-tools">
        <span>Justify</span>
      </h1>
    </material-toolbar>
    
    <form style="padding-left: 20px;">
      <material-input-group>
        <label for="situation">Description</label>
        <material-input id="situation" type="text" ng-model="situation"></material-input>
      </material-input-group>
      <material-button class="material-button-raised" ng-click="generate()">Generate</material-button>
    </form>

    <material-card>
      <p>I would {{situation || defaultSituation}}, but that requires {{noun}}.</p>
    </material-card>

    <!-- scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.2/angular.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="app.js"></script>
  </body>
</html>
